* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Helvetica, Arial, sans-serif;
}

.weather {
    display: none;
}

.weather .container {
    display: flex;
    flex-wrap: wrap;
    flex-flow: center;
    justify-content: center;
}

.weather .image {
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
}

.weather .details {
    width: 480px;
    max-width: 100%;
}

.weather .title {
    font-size: 3.3em;
    margin: 0 0 0.4em 0;
}

.weather .temperature {
    font-size: 1.5em;
    margin: 0.6em 0;
}

.weather .quote {
    font-size: 1.2em;
    margin: 3em 0;
}

.weather .quote-text:before {
    content: open-quote;
}

.weather .quote-text:after {
    content: close-quote;
}

.weather .quote-author {
    color: grey;
}

.weather .quote-author:before,
.weather .quote-author:after {
    content: " - ";
}